services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: laravel_app
        volumes:
            - .:/var/www/html
            - /var/www/html/node_modules
        networks:
            - laravel
        environment:
            - CHOKIDAR_USEPOLLING=true
            - WATCHPACK_POLLING=true
        depends_on:
            - mysql
        ports:
            - "8000:80"
            - "5173:5173"

    nginx:
        image: nginx:alpine
        container_name: laravel_nginx
        ports:
            - "8081:80"
        volumes:
            - .:/var/www/html
            - ./nginx.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app
        networks:
            - laravel

    mysql:
        image: mysql:8.0
        container_name: laravel_mysql
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: Pieve_cm
            MYSQL_USER: adminCmdba
            MYSQL_PASSWORD: pencstioer
        ports:
            - "3306:3306"
        volumes:
            - dbdata:/var/lib/mysql
        networks:
            - laravel

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: laravel_phpmyadmin
        restart: always
        ports:
            - "8080:80"
        environment:
            PMA_HOST: laravel_mysql
            PMA_USER: adminCmdba
            PMA_PASSWORD: pencstioer
        depends_on:
            - mysql
        networks:
            - laravel

volumes:
    dbdata:

networks:
    laravel:
